.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.auth-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 5px;
}

.auth-box p {
  color: #64748b;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.auth-box input:focus {
  border-color: #2563eb;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #1d4ed8;
}

.auth-box span {
  color: #2563eb;
  cursor: pointer;
}