/* RESET */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* CONTENEDOR */
.layout {
  display: flex;
}

/* SIDEBAR (FIJO) */
.sidebar {
  width: 240px;
  min-width: 240px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
}

/* CONTENIDO (ARREGLADO) */
.contenido {
  margin-left: 240px;   /* espacio para sidebar */
  padding: 20px;
  background: #f5f6f8;
  min-height: 100vh;

  width: calc(100% - 240px);   /* 🔥 CLAVE: ocupa todo sin dejar vacío */
}